:root {
  --black: #000000;
  --white: #ffffff;

  --purple: #a55eea;
  --green: #26de81;
  --red: #eb3b5a;
  --blue: #4b7bec;
  --pink: #fc5c65;

  --btn-color-bg: var(--purple);
  --btn-color-fg: var(--white);
  --btn-color-border: var(--purple);
  --btn-color-focus: var(--green);
  --btn-color-text-shadow: var(--black);

  --font-family-heading: "Press Start 2P", cursive;
  --font-family-main: "Fira Code", monospace;

  --form-control-color: var(--purple);
  --form-control-focus-color: var(--green);

  --progress-bar-bg: var(--color-fg);
  --progress-bar-fill: var(--green);
  --progress-bar-height: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--black);
    --color-fg: var(--white);

    --header-color: var(--green);
    --header-shadow-color: var(--blue);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: var(--white);
    --color-fg: var(--black);

    --header-color: var(--black);
    --header-shadow-color: var(--green);
  }
}

html {
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-size: 1rem;
  font-family: var(--font-family-main);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.main {
  padding: 1rem;
  margin: auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.main__header {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  text-transform: uppercase;
  font-family: var(--font-family-heading);
  color: var(--header-color);
  text-shadow: 3px 3px var(--header-shadow-color);
  text-align: center;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.quiz {
  display: none;
}

.quiz__info {
  /* is set to display: flex when game starts */
  display: none;
  flex-direction: column;
}

.quiz__info__progress {
  display: none;
}

.quiz__info__progressBar {
  width: 100%;
  height: var(--progress-bar-height);
  border-radius: 1rem;
  background-color: var(--progress-bar-bg);
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  display: grid;
}

.quiz__info__progressBar span {
  background-color: var(--progress-bar-bg);
  display: inline-block;
  height: var(--progress-bar-height);
  width: 100%;
  transition: width 0.3s linear;
}

.quiz__info__score {
  font-family: var(--font-family-heading);
  text-align: center;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  margin: 1rem auto;
}

.quiz__question {
  font-size: clamp(1.4rem, 1.8vw, 1.8rem);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.quiz__result {
  display: none;
}

.quiz__result__score {
  font-size: 2rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.quiz__result__blocks {
  width: 100%;
  margin-bottom: 4rem;
}

.resultBlock {
  margin-bottom: 1.5rem;
  background-color: var(--color-fg);
  font-weight: bold;
  border-radius: 0.5rem;
  color: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 0.35rem solid var(--color-fg);
  padding: 1rem;
}

.resultBlock h3 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.resultBlock__title {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.resultBlock--correct {
  border-color: var(--green);
  font-style: italic;
}

.resultBlock--incorrect {
  border-color: var(--red);
}

.resultBlock__answer {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.resultBlock__answer:last-of-type {
  margin-bottom: 0;
}

.resultBlock__answer--correct {
  font-size: 1.4rem;
}

.resultBlock__answer--incorrect {
}

.button {
  margin: 1rem auto;
  background-color: var(--btn-color-bg);
  border: 0.25rem solid var(--btn-color-border);
  color: var(--btn-color-fg);
  font-weight: bold;
  font-size: clamp(1.2rem, 1.4vw, 1.4rem);
  padding: 1rem 2rem;
  line-height: 1.2;
  cursor: pointer;
  border-radius: 0.5rem;
  text-transform: uppercase;
  width: 100%;
  font-family: var(--font-family-heading);
  text-shadow: 3px 3px var(--btn-color-text-shadow);
}

.button:focus {
  outline: transparent;
  box-shadow: var(--btn-color-focus) 0 0 0 0.5rem;
  transition: box-shadow 0.2s ease 0s;
  color: var(--btn-color-fg);
}

.button__reset {
  display: none;
}

.button__next {
  display: none;
}

.button__end {
  display: none;
}

.answers {
  border-width: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.answers__option {
  margin-bottom: 1.5rem;
  background-color: var(--color-fg);
  font-weight: bold;
  border-radius: 0.5rem;
  color: var(--color-bg);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 0.35rem solid var(--color-fg);
}

input {
  margin: 0 0 0 1rem;
}

.answers__option__label {
  cursor: pointer;
  line-height: 1.1;
  font-size: 1.2rem;
  padding: 1rem;
  width: 100%;
}

input[type="radio"] {
  cursor: pointer;
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: var(--color-fg);
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15rem;
  height: 1.15rem;
  border: 0.15rem solid var(--color-bg);
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin-left: 1rem;
}

input[type="radio"]::before {
  content: "";
  width: 0.65rem;
  height: 0.65rem;
  border-radius: 50%;
  transform: scale(0);
  box-shadow: inset 1rem 1rem var(--form-control-color);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15rem) solid var(--form-control-focus-color);
  outline-offset: max(2px, 0.15rem);
  box-shadow: var(--form-control-focus-color) 0 0 0 0.25rem;
}

.answers__option--correct {
  border-color: var(--green);
  font-style: italic;
}

.answers__option--correct label::after {
  content: "✓";
  color: var(--color-bg);
  margin-left: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.answers__option--incorrect {
  border-color: var(--red);
}

.answers__option--incorrect label::after {
  content: "\002718";
  color: var(--color-bg);
  margin-left: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer {
  padding: 2rem;
  text-align: center;
}

.footer__text {
  color: var(--color-fg);
  font-size: 1rem;
  margin-bottom: 2rem;
  display: block;
}

.footer__textLink {
  display: inline;
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 0.125rem;
}

.footer__textLink:focus {
  outline: transparent;
  box-shadow: var(--btn-color-focus) 0 0 0 0.5rem;
}
