html {
  font-size: 100%;
}

body {
  padding: 1rem;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  box-sizing: border-box;
}

.separator {
  border-style: solid;
  border-color: #fff;
  background-color: #fff;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.main {
  margin: 2rem auto;
  max-width: 600px;
}

.main__header {
}

.quiz {
  display: none;
}

.quiz__info {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
}

.quiz__info__progress {
}

.quiz__info__score {
  font-weight: bold;
  text-align: right;
}

.quiz__question {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.quiz__result {
  font-size: 2rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
  display: none;
}

.button {
  margin-bottom: 2rem;
  background-color: #fff;
  border: 0.25rem solid #fff;
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.button:focus {
  outline: none;
  box-shadow: #0000ff 0 0 0 0.25rem;
  transition: box-shadow 0.2s ease 0s;
  color: #0000ff;
}

.button__reset {
  display: none;
}

.button__next {
  display: none;
}

.answers {
  border-width: 0;
  padding: 0;
  margin-bottom: 2rem;
}

.answers__option {
  margin-bottom: 1.5rem;
  background-color: #fff;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
  color: #000;
}

input {
  margin-right: 0.5rem;
}

.answers__option input:focus {
  box-shadow: yellow 0 0 0 0.25rem;
  transition: box-shadow 0.2s ease 0s;
}

.answers__option label {
  cursor: pointer;
}

.answer__correct {
  color: green;
  margin-bottom: 1.5rem;
  background-color: #fff;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

.answer__incorrect {
  color: red;
  margin-bottom: 1.5rem;
  background-color: #fff;
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
