html {
  font-size: 100%;
}

body {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

.main {
  margin: 4rem auto;
  max-width: 600px;
}

.quiz {
  display: none;
}

.button {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.button__reset {
  display: none;
}

.button__next {
  display: none;
}

.answer {
}

.answer__correct {
  color: green;
}

.answer__incorrect {
  color: red;
}
