:root {
  --black: #000000;
  --white: #ffffff;

  --purple: #a55eea;
  --green: #26de81;
  --red: #eb3b5a;
  --blue: #4b7bec;
  --pink: #fc5c65;

  --btn-color-bg: var(--purple);
  --btn-color-fg: var(--white);
  --btn-color-border: var(--purple);
  --btn-color-focus: var(--green);

  --font-family-heading: "Press Start 2P", cursive;
  --font-family-main: "Fira Code", monospace;

  --form-control-color: var(--purple);
  --form-control-focus-color: var(--green);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--black);
    --color-fg: var(--white);

    --header-color: var(--green);
    --header-shadow-color: var(--blue);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: var(--white);
    --color-fg: var(--black);

    --header-color: var(--black);
    --header-shadow-color: var(--green);
  }
}

html {
  font-size: 100%;
}

body {
  padding: 1rem;
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-size: 1rem;
  font-family: var(--font-family-main);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.separator {
  border-style: solid;
  border-color: var(--color-fg);
  background-color: var(--color-fg);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.main {
  margin: 1rem auto;
  max-width: 600px;
}

.main__header {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: var(--font-family-heading);
  color: var(--header-color);
  letter-spacing: 2px;
  text-shadow: 3px 3px var(--header-shadow-color);
  text-align: center;
  margin-bottom: 4rem;
}

.quiz {
  display: none;
}

.quiz__info {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
}

.quiz__info__progress {
}

.quiz__info__score {
  font-weight: bold;
  text-align: right;
}

.quiz__question {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.quiz__result {
  display: none;
}

.quiz__result__score {
  font-size: 2rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.quiz__result__table {
  width: 100%;
  margin-bottom: 4rem;
}

.quiz__result__table td {
  padding: 0.5rem;
}

.quiz__result__table th {
  text-align: left;
}

.button {
  margin-bottom: 2rem;
  background-color: var(--btn-color-bg);
  border: 0.25rem solid var(--btn-color-border);
  color: var(--btn-color-fg);
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  text-transform: uppercase;
  width: 100%;
  font-family: var(--font-family-heading);
}

.button:focus {
  outline: transparent;
  box-shadow: var(--btn-color-focus) 0 0 0 0.5rem;
  transition: box-shadow 0.2s ease 0s;
  color: var(--btn-color-fg);
}

.button__reset {
  display: none;
}

.button__next {
  display: none;
}

.button__end {
  display: none;
}

.answers {
  border-width: 0;
  padding: 0;
  margin-bottom: 2rem;
}

.answers__option {
  margin-bottom: 1.5rem;
  background-color: var(--color-fg);
  font-weight: bold;
  border-radius: 0.5rem;
  color: var(--color-bg);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 0.35rem solid var(--color-fg);
}

input {
  margin: 0 0 0 1rem;
}

.answers__option__label {
  cursor: pointer;
  line-height: 1.1;
  font-size: 1.2rem;
  padding: 1rem;
  /* display: grid;
  grid-template-columns: 1rem auto;
  gap: 0.5rem; */
}

input[type="radio"] {
  cursor: pointer;
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: var(--color-fg);
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15rem;
  height: 1.15rem;
  border: 0.15rem solid var(--color-bg);
  border-radius: 50%;

  display: grid;
  place-content: center;

  margin-left: 1rem;
}

input[type="radio"]::before {
  content: "";
  width: 0.65rem;
  height: 0.65rem;
  border-radius: 50%;
  transform: scale(0);
  box-shadow: inset 1rem 1rem var(--form-control-color);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15rem) solid var(--form-control-focus-color);
  outline-offset: max(2px, 0.15rem);
  box-shadow: var(--form-control-focus-color) 0 0 0 0.25rem;
}

.answers__option--correct {
  border-color: var(--green);
  font-style: italic;
}

.answers__option--correct label::after {
  content: "✓";
  color: var(--color-bg);
  margin-left: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.answers__option--incorrect {
  border-color: var(--red);
}

.answers__option--incorrect label::after {
  content: "\002718";
  color: var(--color-bg);
  margin-left: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
